@import "tailwindcss";

:root {
  --background: #090d16;
  --foreground: #f1f5f9;
}

body {
  background: #090d16;
  color: #f1f5f9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
